@use "variables" as v;
@import "mixin";

#about-page {
    @include center();
    animation: fadeIn forwards 1s ease-in;
    p{
        font-size: v.$font-xsmedium;
    }
    h2{    
        font-size: v.$font-big;
        line-height: 2rem;
        margin: 0.5rem 0;
        text-align: left;
    }
    ul {
        display: flex;
        column-gap: 2rem;
        flex-wrap: wrap;
    }
    img {
        width: 15rem;
        @media screen and (min-width : v.$lg-breakpoint ) {
            width: 20rem;
        }
    }
    .image-wrap{
        display: flex;
        justify-content: center;
    }
    .subtext-location{
        color: grey;
    }
    .subtext-title{
        color: rgb(108, 216, 173);
    }
    .text-wrap {
        display: flex;
        flex-direction: column;
        @media screen and (min-width : v.$lg-breakpoint ) {
            display: flex;
            flex-direction: column;
        }
    }
}
