@use "variables" as v;
@import "mixin";

#about-page {
    @include center();
    animation: fadeIn forwards 1s ease-in;


    .wrapper-text {
        margin: 0 3rem;
        display: flex;
 

        @media screen and (min-width : v.$lg-breakpoint ) {
            display: flex;
            flex-direction: column;
        }
    }

    h1 {
        font-size: v.$fontSizeTitle;
        font-weight: 200;

        @media screen and (min-width : v.$lg-breakpoint ) {
            text-align: left;
        }
    }

    img {
        width: calc(12rem + 5vw);

    }

    ul {
        display: flex;
        column-gap: 2rem;
        flex-wrap: wrap;

    }
    p{
        font-size: 1.2rem;
    }
    .subtext-title{
        color: rgb(105, 105, 105);
    }
    .subtext-location{
        color: grey;
    }
    
}
