@use "variables" as v;
@import "mixin";


#focus-page {
    @include center();
    .wrappers{
        flex-direction: column;
    }
    .container-wrap{
        display: flex;
    }
    .wrapper-focus {
        display: flex;
        flex-basis: 25%;
        box-shadow: v.$boxShadowLight;
        border: v.$borderClassic;
        border-radius: 0.5rem;
        margin: 0 1rem;
        padding: 2rem;

        h1 {
            text-align: left;
        }

        p {
            color: v.$colorGreyfaded;
            font-family: v.$fontThird;
            font-size: v.$fontSizedMedium;
            font-weight: 100;
            line-height: 2rem;
        }
    }
}
