@use "variables" as v;
@import "mixin";

#landing-page {
    display: flex;
    animation: fadeIn forwards 1s ease-in;
    align-items: center;
    @media screen and (max-width : v.$lg-breakpoint ) {
        margin-top: 5rem;
     }
    img {
        width: 5rem;
        @media screen and (min-width : v.$lg-breakpoint ) {
            width: calc(20rem + 3vw);
        }
    }
    span {
        a,svg{
        color: white;
        line-height: 2;
 
    }
    }
    .btn-contact{
        background-color: #3e51e1;
        box-shadow: v.$box-shadow;
        border: v.$border-classic;
        border-radius: 1rem;
        color: v.$color-white;
        font-size: 1.2rem;
        transition: all 0.5s;
        text-align: center;
        width: 10rem;
        &:hover{
            background-color: #2d3ca6;
            box-shadow: v.$box-shadow-white;
            transform: scale(1.02);
        }
    }
    .btn-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        @media screen and (min-width : v.$lg-breakpoint ) {
            justify-content: flex-start;
        }
    }
    .container-content{
        width: 100%;
    }

    .info-wrap{
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        text-align: center;
        @media screen and (min-width : v.$lg-breakpoint ) {
            text-align: left;
            justify-content: flex-start;
        }
        svg{
            color: #3e51e1;
            
        }
    }
    .list-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width : v.$lg-breakpoint ) {
            justify-content: flex-start;
        }
    }
    .text-wrap {
        text-align: center;
  
        @media screen and (min-width : v.$lg-breakpoint ) {
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
            text-align: left;
        }
    }
     .wraps{
        justify-content: space-between;
    }
}
         

         


