@use "variables" as v;
@import "mixin";
:root {
    --color-white: #fff;
    --color-gray: #c4c4c4;
    --color-black: #000;
    --color-purple: #8000ff;
    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
}
#landing-page {
    animation: fadeIn forwards 1s ease-in;
    @include center();
    .wrapper-text {
        margin: 0 2rem;

        @media screen and (min-width : v.$lg-breakpoint ) {
            display: flex;
            flex-direction: column;
        }
    }
    .landing-gradient{
        background: -webkit-linear-gradient(135deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
        background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        -webkit-animation: gradient 3s ease infinite;
        animation: gradient 3s ease infinite;
    }
    h1 {
        font-size: v.$fontSizeTitle;
    

        @media screen and (min-width : v.$lg-breakpoint ) {
            text-align: left;
        }
    }

    img {
        width: calc(8rem + 3vw);
    }

    ul {
        display: flex;
        column-gap: 2rem;
        flex-wrap: wrap;


    }

}