@import "variables";

@mixin boxShadow() {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    --tw-shadow--colored: 0 20px 25px -5px #0000001a,
        0 8px 10px -6px #0000001a;
}

@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
}

