@use "variables" as v;
@import "mixin";


#project-page {
    .cards-wrap{
        display: flex;
        gap:2rem;
        flex-wrap: wrap;
    }
    .card-wrap {
        background-color: v.$background-main-color;
        box-shadow: v.$box-shadow;
        border-radius: 1.5rem;
        border: v.$border-classic;
        display: flex;
        flex-direction: column;
        flex-basis: 22%;
        
        width: 15rem;
        height: 25rem;

        .text-wrap {
            padding: 1rem;
        }

        h3 {
            font-size: v.$font-medium;
        }
        h5{
            color: v.$color-faded-lightgrey;
            font-size: 0.9rem;
            margin: 0;
        }

        p {
            font-size: v.$font-lsmall;
        }

        img {
            width: 15rem;
            height: 10rem;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
        }
    }
}
