@use "variables" as v;

* {
    box-sizing: border-box;
    -webkit-font-smoothing: none;
    scroll-behavior: smooth;
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    

}

html {
    
    font-size: 62.5%;
    
}

body {
    
    background-color: v.$background-main-color;
    color: v.$color-default;
    font-family: v.$font-fifth;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}