@use "variables" as v;
@import "mixin";


#focus-page {
    position: relative;
    @include center();

    .background-purple {
        background: linear-gradient(180deg, rgba(117, 104, 184, 0.650) 0%, rgba(110, 171, 240, 0.65)100%);
    }
    .background-blue {
        background: linear-gradient(180deg, rgba(104, 184, 177, 0.65) 0%, rgba(120, 228, 214, 0.65) 100%);
    }
    .background-orange {
        background: linear-gradient(180deg, rgba(235, 195, 86, 0.65) 0%, rgba(228, 172, 120, 0.65) 100%);
    }
    .background-red {
        background: linear-gradient(180deg, rgba(235, 116, 86, 0.65) 0%, rgba(228, 120, 161, 0.65) 100%);
    }
    .skill-wrap-content{
        h1{
            text-align: center;
        }
    }
    .skill-wrap-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: v.$color-white;
        border: v.$border-classic;
        border-radius: 1rem;
        box-shadow: v.$box-shadow;
        position: relative;
        padding: 2rem;
        p {
            font-size: v.$font-xsmedium;
        }
        @media screen and (min-width : v.$lg-breakpoint ) {
           flex-basis: 50%;
            align-items: flex-start;
        }
    }
    .box-wrap{
        margin: 0 0 4rem 0;
        h1 {
            font-size: v.$font-medium;
            text-align: center;
            @media screen and (min-width : v.$lg-breakpoint ) {
                text-align: left;
            }
        }
    }
    .skill-wrap{
   
        border: v.$border-classic;
        border-radius: 1rem;
        box-shadow: v.$box-shadow;
        padding: 1rem;
        width: 15rem;
        position: absolute;
        top: -3rem;
    }
    .right{
        display: flex;
        justify-content: flex-end;
    }
    .left{
        display: flex;
        justify-content: flex-start;
    }
    .left-title{
        @media screen and (min-width : v.$lg-breakpoint ) {
            left: 2rem;
            right: 0;
        }
    }
    .right-title{
        @media screen and (min-width : v.$lg-breakpoint ) {
            left: 18rem;
            right: 0;
        }
    }
    .title-wrap{
        margin: 4rem 0;
    }


}