// font responsive

$fontSizeSmall:calc(0.6rem + 0.3vw);
$fontSizeTitle: calc(2rem + 0.8vw);
$fontSizeTitleSmall: calc(1.5rem + 0.3vw);
$fontSizeTitleXSmall: calc(1.2rem + 0.3vw);
$fontSizeTitleLarge: calc(3rem + 0.5vw);
$fontSizeTitleXLarge: calc(4rem + 0.5vw);
$fontSizeTitleXXLarge: calc(5rem + 0.5vw);
$fontSizedefault: calc(0.8rem + 0.5vw);
$fontSizeLarge: calc(0.9rem + 0.4vw);
$fontGlobal:'Mulish', sans-serif;
$fontSecond:'Inter', sans-serif;
$fontThird :'Nunito Sans', sans-serif;
$fontFourth :'Rubik', sans-serif;

// Colors 
$colorwhitelight: rgb(240, 240, 240);
$colorGold:rgb(250, 184, 4);
$colorGreyfaded:rgba(70, 70, 70,0.9);
$colorGreyLightfaded:rgba(209, 209, 209,0.65);
$colorMain: rgb(60, 60, 60);
$colorBlackLight:rgb(87, 87, 87);
$colorGrey:rgb(105, 105, 105);
$colorIcon: rgb(40, 51, 41);
$colorWhite:rgb(240, 240, 240);

// Background

$backgroundGlobal:rgb(246, 246, 246);
$backgroundColorSide:rgb(233, 238, 241);


// Styling

$borderClassic : 1px rgba(197, 197, 197, 0.808) solid;
$boxShadow :  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$boxShadowLight :  0 5px 5px -3px rgba(205, 205, 205, 0.3), 0 4px 3px -4px rgba(210, 210, 210, 0.3);

// Media querries

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;