@use "reset";
@use "variables" as v;
@import "mixin";

// Globales

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: v.$fontSizeTitleSmall;

    text-align: center;
    font-family: v.$fontThird;
    font-weight: 100;
}

h2,h3 {

    text-align: center;
    font-size: v.$fontSizeTitleXSmall;
}

ul,h1,h2,h3{
    padding: 0;
    margin: 0;
}


.container {
    max-width: 110rem;
    margin: 0 auto;
}

.container-content {
    max-width:20rem;
    margin: 0 auto;
    @media screen and (min-width : v.$lg-breakpoint ) {
        max-width: 80rem;
    }   
}

.btn {
    cursor: pointer;
    color: v.$colorMain;
    font-size: 1.1rem;
    padding: 1rem;
    border: v.$borderClassic;
    text-align: center;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #25a9e169, #40e4955b, #30dd8957, #2bb6734f, );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border-radius: 50px;
    width: 13rem;

    &:hover {
        background-position: 100% 0;
    }
}

.wrapper-title {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

#landing-page,
#focus-page,
#project-page {
    min-height: 100vh
}


// Animations

@keyframes fadeIn {
   0%{
    opacity: 0;

   } 
   100%{
    opacity: 1;
 
   }
}



// Header

.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(2px);
    box-shadow: v.$boxShadowLight;

    .wrappers {
        justify-content: space-between;
        display: flex;

        .wrapper {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            padding: 0 1rem;

            img {
                width: 2rem;
                cursor: pointer;
            }

            h3 {
                font-weight: 100;
            }
        }

        ul {
            padding: 0;
            align-items: center;
            display: flex;
            column-gap: 2rem;


            li {
                font-size: v.$fontSizeLarge;
                font-family: 'Akatab', sans-serif;
                transition: all .5s ease-in-out;

                p {
                    cursor: pointer;
                }
            }

            li.active {

                color: rgb(43, 162, 127);


            }
        }
    }

}



// Page d'accueil 

#landing-page {
    animation: fadeIn forwards 1s ease-in;
    @include center();
    .wrappers {
        
        @media screen and (min-width : v.$lg-breakpoint ) {
            display: flex;
        }
        
    }
   
    ul{
        column-gap: 2rem;
        display: flex;
        flex-wrap: wrap;
      
        img{
            width: 3rem;
        
        } 
    }
    .wrapper-text{
        @media screen and (min-width : v.$lg-breakpoint ) {
            h1{
                text-align: left;
            }
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
        }
    }

   
    p{
        font-family:v.$fontFourth;
        line-height: 1.6;
        font-size: 1.2rem;
        font-weight: 500;
        color:v.$colorGrey;
    }
    h1{
        font-weight: 900;
        font-size: v.$fontSizeTitle;
        
    }
    img{
        width: 20rem;
    }
  
}



#focus-page {


    .wrapper-focus {
        display: flex;
        flex-basis: 45%;
        background-color: v.$backgroundGlobal;
        box-shadow: v.$boxShadow;
        border: v.$borderClassic;
        border-radius: 1rem;
        padding: 2rem;
        margin: 0 2rem;

        p {
            font-size: v.$fontSizedefault;
            color: v.$colorGreyfaded;
        }
    }

    .wrapper-regroup-left {
        display: flex;
        justify-content: flex-start;
    }

    .wrapper-regroup-right {
        display: flex;
        justify-content: flex-end;
    }

    .wrapper-image {
        flex-basis: 25%;
    }

    img {
        width: 8rem;
    }

}


#project-page {
    .wrapper {
        display: flex;
    }

    .wrapper-box {
        display: flex;
        background-color: rgb(233, 237, 241);
        border: v.$borderClassic;
        border-radius: 0.8rem;
        box-shadow: v.$boxShadow;
        padding: 1.5rem;
        margin: 0 2rem;
        transition: all .3s ease-in-out;
        width: 50%;


        &:hover {
            transform: scale(1.05);
            background-color: v.$colorWhite;

        }
    }

    .wrapper-image {
        flex-basis: 25%;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: 50%;

        }
    }

    .wrapper-content {
        flex-basis: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;

        p {
            font-size: 0.9rem;
            color: v.$colorGreyfaded;
        }
    }
}